.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  &__logo,
  &__cart {
    display: block;
    text-decoration: none;
    color: white;
  }

  &__logo {
    font-size: 40px;
  }


  &__cart {
    display: flex;
    align-items: center;

    &-img {
      width: 50px;
      margin-right: 20px;
    }

    &-num {
    }

    &-sum {
    }
  }
}

