@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "~normalize.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: darkslategrey;
  color: white;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 360px;
  max-width: 1600px;
  width: 100%;
  min-height: 100vh;
}

@import "scss/header";
@import "scss/menu";
